@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInWelcomeMessage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c3c3c3;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0d123c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #323452;
}
